<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
    -+="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'styles/login.css')}}">
    <title>User-Login</title>
</head>
<body>
    <div class="container">
        <div class = "card">
            <h1 id = "Lgn">
             LOGIN
            </h1>
            
            <div class="info">
                <forms  method="POST">
                    <input type="text" placeholder="Username" required class="usr" name = 'username'>
                    <input type="password" placeholder="password" name = 'password' required class="pass">
                    <input type="submit"   class="enter" >
                </forms>
            </div>
            

        </div> 
        <div class="anim">
        
        </div>
        
        
    </div>
    
    
    
</body>
</html>